In [ ]:
%pip install pandas

In [1]:
import pandas as pd
import glob as gl
import dask.dataframe as dd

In [2]:
trips = pd.read_csv('metadata.csv')
trips.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.60,31,4.022585e+08,33.114580,4,74,0.855234,287.5443,285.15,293.15
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.40,33,1.445733e+09,19.689140,0,55,0.777860,288.7490,280.15,294.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.20,72,6.207258e+08,23.753570,1,67,0.907342,284.7325,282.15,287.15

## **Task 1.** *Extract all trips with busRoute 83*

In [3]:
busRoute83 = trips[trips['busRoute'] == '83']
busRoute83.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,1583210558,2020-03-03T19:44:51Z,1583264691,225047.90,83,1.544278e+09,23.47531,0,118,0.472180,280.5450,279.15,289.15
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,1583470403,2020-03-06T19:44:42Z,1583523882,224512.30,83,1.631816e+09,17.41578,0,69,0.451028,279.8850,278.15,289.15
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,1583763373,2020-03-09T19:34:17Z,1583782457,77824.36,83,5.406013e+08,23.18182,0,74,0.460099,281.0489,279.15,291.15
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10T04:50:03Z,1583815803,2020-03-10T19:51:25Z,1583869885,225095.80,83,1.692171e+09,20.96410,0,86,0.475233,279.8363,279.15,291.15
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12T04:56:41Z,1583989001,2020-03-12T19:44:57Z,1584042297,224181.20,83,1.145860e+09,17.21235,0,80,0.340882,287.3445,282.15,291.15

## **Task 2.** *Extract all trips where busRoute is not a number*

In [5]:
print(trips['busRoute'].unique())

['-' '31' '33' '72' '46' '32' '83' 'N4' 'N2' 'N1']

In [6]:
non_numeric_busRoutes = trips[~trips['busRoute'].str.isnumeric()]
non_numeric_busRoutes

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10T03:16:11Z,1557458171,2019-05-10T18:51:37Z,1557514297,210577.00,-,1.303391e+09,8.230483,0,43,0.740927,287.5623,282.15,293.15
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13T03:10:23Z,1557717023,2019-05-13T23:16:13Z,1557789373,267033.80,-,1.647432e+09,7.891652,0,45,0.804191,284.6764,280.15,293.15
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24T02:52:47Z,1558666367,2019-05-24T22:35:11Z,1558737311,263432.60,-,1.448057e+09,7.520249,0,44,0.761068,293.1440,283.15,299.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,B208_2022-10-21_22-38-32_2022-10-22_02-42-21,208,2022-10-21T22:38:32Z,1666391912,2022-10-22T02:42:21Z,1666406541,78567.16,N1,4.347766e+08,16.333330,0,45,0.431852,289.2550,288.15,296.15
1374,B208_2022-10-22_22-34-45_2022-10-23_02-29-59,208,2022-10-22T22:34:45Z,1666478085,2022-10-23T02:29:59Z,1666492199,73427.97,N2,3.997737e+08,17.710530,0,57,0.443358,287.3486,285.15,295.15
1394,B208_2022-11-25_23-35-16_2022-11-26_03-30-39,208,2022-11-25T23:35:16Z,1669419316,2022-11-26T03:30:39Z,1669433439,72911.26,N2,4.475534e+08,11.216670,1,32,0.465024,281.3884,280.15,293.15
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.57,N1,4.519165e+08,20.105260,0,74,0.495739,279.4540,277.15,291.15
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.83,N2,5.350956e+08,15.993200,0,52,0.459492,276.0036,273.15,291.15

## **Task 3.** *For each (busNumber, busRoute) pair, determine the number of trips*

In [7]:
trips_per_busNumber_busRoute = trips.groupby(['busNumber', 'busRoute']).size().reset_index(name='numTrips')
trips_per_busNumber_busRoute

    busNumber busRoute  numTrips
0         183        -        11
1         183       31        12
2         183       32        12
3         183       33       130
4         183       46       104
5         183       72       114
6         183       83       441
7         183       N1        10
8         183       N2        19
9         183       N4        11
10        208       31         5
11        208       32        14
12        208       33        25
13        208       46        19
14        208       72        44
15        208       83       405
16        208       N1         6
17        208       N2        20
18        208       N4         7

## **Task 4.** *For each trip, compute the ratio between the energy consumption and the average number of passengers*

In [4]:
trips['energyPerPassenger'] = trips['energyConsumption'] / trips['itcs_numberOfPassengers_mean']
energyPerPassenger = trips[['busNumber', 'busRoute', 'energyPerPassenger']]
energyPerPassenger

      busNumber busRoute  energyPerPassenger
0           183        -        8.640500e+07
1           183       31        1.214747e+07
2           183       33        7.342794e+07
3           183        -        1.673328e+08
4           183       72        2.613190e+07
...         ...      ...                 ...
1404        208       32        1.070215e+07
1405        208       83        5.338462e+07
1406        208       83        4.738047e+07
1407        208       N1        2.247753e+07
1408        208       N2        3.345769e+07

[1409 rows x 3 columns]

## **Task 5.** *For each station (itcs_stopName), determine the average number of passengers.*

5.1 Combine all csv files into one

In [5]:
import pandas as pd
import os
from tqdm import tqdm

detail = []
folder_path = 'dataset' 
csv_files = os.listdir(folder_path)

for file in tqdm(csv_files):
    try:
        file_path = os.path.join(folder_path, file)
        df = pd.read_csv(file_path, na_values="-", low_memory=False)
        df["Name"] = file[:-4]  
        df["busNumber"] = file[1:4]  
        df["time_iso"] = pd.to_datetime(df["time_iso"])  
        detail.append(df)
    except ValueError as e:
        print(f"Skipping file {file} due to error: {e}")

detail = pd.concat(detail)

100%|██████████| 1409/1409 [02:58<00:00,  7.87it/s]

In [6]:
average_passengers_per_station_df = detail.groupby('itcs_stopName')['itcs_numberOfPassengers'].mean().reset_index(name='average_passengers_per_station')
average_passengers_per_station_df

                      itcs_stopName  average_passengers_per_station
0                 Zürich, Albisrank                       16.196598
1          Zürich, Albisriederplatz                       25.453398
2         Zürich, Altes Krematorium                       21.980348
3         Zürich, Bahnhof Affoltern                        2.850746
4        Zürich, Bahnhof Altstetten                        7.816580
..                              ...                             ...
144         Zürich, Zentrum Witikon                       17.255102
145        Zürich, Zweiackerstrasse                        7.502203
146              Zürich, Zwielplatz                        2.049383
147             Zürich, Zwinglihaus                       23.196668
148  Zürich,Kalkbreite/Bhf.Wiedikon                       23.160748

[149 rows x 2 columns]

## **Task 6.** *For each station, determine the buses that have stopped there at least once.*

In [7]:
buses_per_station = detail.groupby(['itcs_stopName', 'busNumber']).size().reset_index(name='stop_count')
buses_per_station

                      itcs_stopName busNumber  stop_count
0                 Zürich, Albisrank       183        6324
1                 Zürich, Albisrank       208        6199
2          Zürich, Albisriederplatz       183       11218
3          Zürich, Albisriederplatz       208        7633
4         Zürich, Altes Krematorium       183       10022
..                              ...       ...         ...
292              Zürich, Zwielplatz       208           4
293             Zürich, Zwinglihaus       183        2791
294             Zürich, Zwinglihaus       208        1231
295  Zürich,Kalkbreite/Bhf.Wiedikon       183         279
296  Zürich,Kalkbreite/Bhf.Wiedikon       208         256

[297 rows x 3 columns]

## **Task 7.** *For each station, determine the buses that have stopped there at least ten times.*

In [12]:
buses_per_station = buses_per_station[buses_per_station['stop_count'] >= 10]
buses_per_station

                      itcs_stopName busNumber  stop_count
0                 Zürich, Albisrank       183        6324
1                 Zürich, Albisrank       208        6199
2          Zürich, Albisriederplatz       183       11218
3          Zürich, Albisriederplatz       208        7633
4         Zürich, Altes Krematorium       183       10022
..                              ...       ...         ...
291              Zürich, Zwielplatz       183          77
293             Zürich, Zwinglihaus       183        2791
294             Zürich, Zwinglihaus       208        1231
295  Zürich,Kalkbreite/Bhf.Wiedikon       183         279
296  Zürich,Kalkbreite/Bhf.Wiedikon       208         256

[295 rows x 3 columns]

## **Task 9.** *For each station, determine the buses that have stopped there at least ten times.*

In [13]:
print(df.columns)

Index(['time_iso', 'time_unix', 'electric_powerDemand', 'gnss_altitude',
       'gnss_course', 'gnss_latitude', 'gnss_longitude', 'itcs_busRoute',
       'itcs_numberOfPassengers', 'itcs_stopName',
       'odometry_articulationAngle', 'odometry_steeringAngle',
       'odometry_vehicleSpeed', 'odometry_wheelSpeed_fl',
       'odometry_wheelSpeed_fr', 'odometry_wheelSpeed_ml',
       'odometry_wheelSpeed_mr', 'odometry_wheelSpeed_rl',
       'odometry_wheelSpeed_rr', 'status_doorIsOpen', 'status_gridIsAvailable',
       'status_haltBrakeIsActive', 'status_parkBrakeIsActive',
       'temperature_ambient', 'traction_brakePressure',
       'traction_tractionForce', 'Name', 'busNumber'],
      dtype='object')

In [14]:
grouped = trips.groupby(['busRoute', 'busNumber']).agg({'energyConsumption': 'sum', 'drivenDistance': 'sum'})
grouped['ratio'] = grouped['energyConsumption'] / grouped['drivenDistance']

grouped = grouped.reset_index()
grouped

   busRoute  busNumber  energyConsumption  drivenDistance        ratio
0         -        183       1.245498e+10      1999119.75  6230.233181
1        31        183       1.387782e+10      2279952.00  6086.891785
2        31        208       5.535865e+09      1046306.68  5290.862713
3        32        183       1.393320e+10      2256540.10  6174.585331
4        32        208       1.283340e+10      2337064.21  5491.247671
5        33        183       1.761996e+11     29510481.41  5970.747507
6        33        208       3.474842e+10      6161892.39  5639.244537
7        46        183       1.026237e+11     18224657.94  5631.035959
8        46        208       2.337366e+10      4186493.70  5583.110707
9        72        183       1.394368e+11     23637238.45  5899.029643
10       72        208       5.100382e+10      9427138.15  5410.318878
11       83        183       2.995540e+11     51249813.70  5844.977154
12       83        208       2.907837e+11     49965928.79  5819.638891
13       N1        183       4.217283e+09       705122.71  5980.920966
14       N1        208       2.316328e+09       410691.93  5640.061883
15       N2        183       7.929098e+09      1390618.35  5701.850332
16       N2        208       7.913191e+09      1464008.67  5405.152963
17       N4        183       4.720068e+09       766868.89  6154.986937
18       N4        208       3.152512e+09       519599.97  6067.190112

## **Task 10.** *Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.*

In [15]:
diff = grouped.groupby('busRoute')['ratio'].agg(['min', 'max'])
diff['difference'] = diff['max'] - diff['min']
diff

                  min          max  difference
busRoute
-         6230.233181  6230.233181    0.000000
31        5290.862713  6086.891785  796.029072
32        5491.247671  6174.585331  683.337660
33        5639.244537  5970.747507  331.502969
46        5583.110707  5631.035959   47.925252
72        5410.318878  5899.029643  488.710765
83        5819.638891  5844.977154   25.338263
N1        5640.061883  5980.920966  340.859083
N2        5405.152963  5701.850332  296.697369
N4        6067.190112  6154.986937   87.796825

## **Task 11.** *Find the bus maximizing the difference computed in the previous point.*

In [16]:

bus_with_max_diff = diff.loc[diff['difference'].idxmax()]
bus_with_max_diff

min           5290.862713
max           6086.891785
difference     796.029072
Name: 31, dtype: float64

## **Task 12.** *Extract the rows of the details such that the gnss_altitude differs from the value in the preceding row. Store also the difference in the variable altitude_variation.*

In [8]:
detail['altitude_variation'] = detail['gnss_altitude'].diff()

details_with_altitude_variation = detail[detail['altitude_variation'].notna() & (detail['altitude_variation'] != 0)]

details_with_altitude_variation

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,...,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce,Name,busNumber,altitude_variation
148,2019-04-30 03:21:24+00:00,1556594484,32607.160000,397.8299,1.474908,0.827001,0.148487,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,292.15,0.0,7033.599,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,0.0299
149,2019-04-30 03:21:25+00:00,1556594485,39229.610000,400.3140,4.932499,0.827002,0.148485,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,292.15,0.0,7572.098,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2.4841
150,2019-04-30 03:21:26+00:00,1556594486,54537.210000,401.6892,4.258572,0.827000,0.148484,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,292.15,0.0,10395.160,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,1.3752
151,2019-04-30 03:21:27+00:00,1556594487,52785.540000,400.4860,4.065155,0.826998,0.148484,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,292.15,0.0,9944.972,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,-1.2032
152,2019-04-30 03:21:28+00:00,1556594488,105212.200000,399.1192,4.262545,0.826999,0.148485,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,292.15,0.0,17314.050,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,-1.3668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14029,2022-12-11 03:28:35+00:00,1670729315,3624.396000,416.9913,0.310205,0.826996,0.148458,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,278.15,246396.6,0.000,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,0.1718
14030,2022-12-11 03:28:36+00:00,1670729316,3406.326000,417.1912,0.332671,0.826997,0.148458,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,278.15,245833.3,0.000,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,0.1999
14031,2022-12-11 03:28:37+00:00,1670729317,3214.522000,416.0540,0.365378,0.826997,0.148459,NaN,NaN,NaN,...,1.0,0.0,1.0,1.0,278.15,245833.3,0.000,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,-1.1372
14055,2022-12-11 03:29:01+00:00,1670729341,0.216363,410.1916,2.195930,0.826985,0.148488,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,278.15,0.0,0.000,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,0.0888
14056,2022-12-11 03:29:02+00:00,1670729342,0.175483,410.8726,2.196229,0.826984,0.148493,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,278.15,0.0,0.000,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,0.6810

## **Task 13.** *For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of altitude_variation.*

In [9]:
sum_of_abs_altitude_variation = details_with_altitude_variation['altitude_variation'].abs().groupby(details_with_altitude_variation['Name']).sum()

sum_of_abs_altitude_variation

Name
B183_2019-04-30_03-18-56_2019-04-30_08-44-20      184.7389
B183_2019-04-30_13-22-07_2019-04-30_17-54-02     3896.8300
B183_2019-05-01_05-58-51_2019-05-01_22-32-30      637.4071
B183_2019-05-03_02-50-21_2019-05-03_05-53-20     4074.4802
B183_2019-05-03_15-41-57_2019-05-03_23-06-24    13325.9491
                                                   ...
B208_2022-12-06_14-43-49_2022-12-06_18-22-52     2300.3956
B208_2022-12-07_05-13-02_2022-12-07_19-19-53     8617.6752
B208_2022-12-08_05-22-20_2022-12-08_18-39-15     8022.7330
B208_2022-12-09_23-55-12_2022-12-10_03-24-28     2748.4226
B208_2022-12-10_23-34-46_2022-12-11_03-29-05     3247.2228
Name: altitude_variation, Length: 1409, dtype: float64

## **Task 14.** *For each month of the year, compute the average ambient temperature*

In [10]:
trips['startTime_iso'] = pd.to_datetime(trips['startTime_iso'])
trips['month'] = trips['startTime_iso'].dt.month_name()

average_temperature_by_month = trips.groupby('month')['temperature_ambient_mean'].mean()
average_temperature_by_month

month
April        286.608216
August       295.847943
December     279.381561
February     280.529928
January      278.958474
July         297.376967
June         296.143297
March        283.319157
May          290.051582
November     281.884420
October      287.714072
September    292.362038
Name: temperature_ambient_mean, dtype: float64

## **Task 15.** *For each bus compute the total time when the halt brake is active and the total time when the park brake is active. Compute also the ratio between those two times.*

In [11]:
def compute_brake_times(detail):
    detail["time_diff"] = detail.groupby("Name")['time_iso'].diff().fillna(pd.Timedelta(seconds=1)).dt.total_seconds()

    def compute_total_active_time(brake_status):
        return (detail[detail[brake_status]==1]
                .groupby("Name")["time_diff"]
                .sum()
                .reset_index()
                .rename(columns={"Name": "Name", "time_diff": f"Total_{brake_status}_Time"}))

    halt_brake_active_time = compute_total_active_time('status_haltBrakeIsActive')
    park_brake_active_time = compute_total_active_time('status_parkBrakeIsActive')

    brake_times = pd.merge(halt_brake_active_time, park_brake_active_time, on="Name")
    brake_times["Brake_Time_Ratio"] = brake_times["Total_status_haltBrakeIsActive_Time"] / brake_times["Total_status_parkBrakeIsActive_Time"]

    return brake_times

brake_times = compute_brake_times(detail)
brake_times

,Name,Total_status_haltBrakeIsActive_Time,Total_status_parkBrakeIsActive_Time,Brake_Time_Ratio
0,B183_2020-02-28_04-56-05_2020-02-28_20-31-21,18270.0,7991.0,2.286322
1,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,17968.0,5505.0,3.263942
2,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,17943.0,3733.0,4.806590
3,B183_2020-03-08_08-52-20_2020-03-08_23-47-20,20381.0,9018.0,2.260035
4,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,6012.0,2341.0,2.568133
...,...,...,...,...
1251,B208_2022-12-06_14-43-49_2022-12-06_18-22-52,5038.0,1759.0,2.864127
1252,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,16848.0,4488.0,3.754011
1253,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,15811.0,4510.0,3.505765
1254,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,3508.0,1678.0,2.090584
1255,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,4204.0,1762.0,2.385925

## **Task 16.** *For each pair of stops that are consecutive in at least a trip, compute the average speed achieved when going from the first to the second stop.*

In [12]:
def compute_trip_data(trip_rows):
    df = pd.DataFrame()
    df["consecutive_stops"] = trip_rows["itcs_stopName"] + " TO " + trip_rows["itcs_stopName"].shift(-1)
    df["average_speed"] = (trip_rows["odometry_vehicleSpeed"] + trip_rows["odometry_vehicleSpeed"].shift(-1)) / 2
    return df.dropna()

valid_rows = detail[detail["itcs_stopName"].notna()]

trip_dataframes = valid_rows.groupby("Name").apply(compute_trip_data)

average_speeds = trip_dataframes.groupby("consecutive_stops")["average_speed"].mean().reset_index()

average_speeds

C:\Users\Диас\AppData\Local\Temp\ipykernel_19276\2978509080.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  trip_dataframes = valid_rows.groupby("Name").apply(compute_trip_data)

                                     consecutive_stops  average_speed
0             Zürich, Albisrank TO Zürich, Flurstrasse       0.679368
1                Zürich, Albisrank TO Zürich, Hubertus       0.590667
2    Zürich, Albisriederplatz TO Zürich, Altes Krem...       0.791746
3    Zürich, Albisriederplatz TO Zürich, Friedhof S...       0.503155
4        Zürich, Albisriederplatz TO Zürich, Hardplatz       0.427231
..                                                 ...            ...
375    Zürich, Zwinglihaus TO Zürich, Goldbrunnenplatz       0.476785
376   Zürich, Zwinglihaus TO Zürich, Schmiede Wiedikon       0.386288
377  Zürich, Zwinglihaus TO Zürich,Kalkbreite/Bhf.W...       0.539342
378  Zürich,Kalkbreite/Bhf.Wiedikon TO Zürich, Kern...       0.578530
379  Zürich,Kalkbreite/Bhf.Wiedikon TO Zürich, Zwin...       0.514093

[380 rows x 2 columns]